<div class="row">

<div class="span4">
<h2>Editar usuario</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "well" }) do |f| %>
<fieldset>
  <%= devise_error_messages! %>
  <div class="field">
    <%= f.input :avatar %>
  </div>
  <div class="field">
    <%= f.input :primer_nombre %>
  </div>
  <div class="field">
    <%= f.input :primer_apellido %><br />
  </div>
  <div class="field">
    <%= f.input :nombre_perfil %><br />
  </div>
  <div class="field">
    <%= f.input :email %><br />
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.input :password, autocomplete: "off" %> <i>(Deje en blanco si no desea cambiarlo)</i>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> mínimo de caracteres</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.input :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.input :current_password, autocomplete: "off" %> <i>(Necesitamos su contraseña actual para confirmar sus cambios)</i><br />
  </div>

  <div class="actions">
    <%= f.button :submit, "Actualizar" %>
  </div>
<% end %>

<h3>Cancelar mi cuenta</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
</fieldset>
</div>
</div>
