<%= simple_form_for(@status, html: { class: "form-horizontal" }) do |f| %>
  <% if @status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@status.errors.count, "error") %> prohibited this status from being saved:</h2>

      <ul>
      <% @status.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.input :user_id, label_html: {class: 'hidden'}, input_html: {value: current_user.id, class: 'hidden'}%>
    
    <%= f.input :imagen %>
    
    <% if @status.imagen.url(:thumb) == '/imagens/thumb/missing.png' %>
      <p>No hay imagen</p>
    <% else %>
        <%= image_tag(@status.imagen.url(:thumb)) %>
    <% end %>

    <%= f.input :contenido %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>


