<div class="page-header">
  <h1>Todos los estados</h1>
  <!-- <button type="button" class="btn btn-lg btn-danger" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">Click to toggle popover</button> -->
  <%= link_to "Crear un nuevo post", new_status_path, class: "btn btn-success" %>
  <p>
    <%= form_tag(search_controller_search_path, method: :get) do |f| %>
      <%= text_field_tag :title, "",class: 'form-control' %>
      <%= submit_tag 'Search', class: "btn btn-default" %>
    <% end %>
  </p>
</div>

<%= render 'statuses/status' %>

<div class="paginacion">
  <%= paginate(@statuses) %>  
</div>
